<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jquery-3.6.0.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>
</head>
<body>

    {% set navigation_bar = [
        (url_for('language_count.input_page'), 'language_count', 'Використання мови'),
        (url_for('most_active_members_count.input_page'), 'most_active_members_count', 'Найбільш активні члени')
    ] -%}

    {% set active_page = active_page|default('language_count') -%}

    <header>
        <ul class="navigation">
            {% for href, id, caption in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif %}>
                    <a href="{{ href|e }}">{{ caption|e }}</a>
                </li>
            {% endfor %}
        </ul>
    </header>

    {% block content %}{% endblock %}

    {% block custom_scripts %}{% endblock %}

</body>
</html>
