<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jquery-3.6.0.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>
</head>
<body>

    <header>
        <!-- TODO: check for improvements - https://stackoverflow.com/questions/18600031/changing-the-active-class-of-a-link-with-the-twitter-bootstrap-css-in-python-fla-->
        <div>
            <a href = "{{ url_for('most_active_members_count.input_page') }}">Найбільш активні члени</a>
        </div>
        <div>
            <a href = "{{ url_for('language_count.input_page') }}">Використання мови</a>
        </div>
    </header>

    {% block content %}{% endblock %}

    {% block custom_scripts %}{% endblock %}

</body>
</html>
