<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jquery-3.6.0.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.12.1.min.js'></script>
</head>
<body>

    <div class="container">
        <form method="post" action="" enctype="multipart/form-data" id="upload_form">
            <div>
                <input type="file" id="file" name="file" />
                <input type="button" class="button" value="Upload" id="btn_upload">
            </div>
        </form>
        <div id="upload_result" style="display: none"></div>
    </div>

    <script src="/js/language-input.js"></script>
</body>
</html>
