{% extends "base-layout.html" %}
{% set active_page = "language_count" %}
{% block title %}Language usage count{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" action="" enctype="multipart/form-data" id="upload_form">
            <div>
                <label for="user_stop_list">id користувачів для ігнорування (через кому):</label>
                <input type="text" id="user_stop_list" name="user-stop-list" />
                <br/>
                <br/>
                <label for="result_file_name">Ім'я файлу з результатами (опціонально):</label>
                <input type="text" id="result_file_name" name="result-file-name" />
                <br/>
                <br/>
                <label for="counter_type">Тип підрахунку:</label>
                <select name="counter-type" id="counter_type">
                  <option
                          title="Що більше користувач написав повідомлень за часовий проміжок - тим меншу вагу матиме кожне окреме його повідомлення при підрахунку"
                          value="WEIGHTED">Зважений</option>
                  <option value="SIMPLE">Звичайний</option>
                </select>
                <br/>
                <br/>
                <input type="file" id="file" name="file" />
                <input type="button" class="button" value="Upload" id="btn_upload">
            </div>
        </form>
        <div id="upload_result" style="display: none"></div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script src="/js/language-input.js"></script>
{% endblock %}
