{% extends "base-layout.html" %}
{% set active_page = "most_active_members_count" %}
{% block title %}Most active members count{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" action="" enctype="multipart/form-data" id="upload_form">
            <div>
                <label for="result_file_name">Ім'я файлу з результатами (опціонально):</label>
                <input type="text" id="result_file_name" name="result-file-name" />
                <br/>
                <br/>
                <label for="number_of_members_to_display">Відображати топ N учасників (введіть число):</label>
                <input type="text" id="number_of_members_to_display" name="number-of-members-to-display" />
                <br/>
                <br/>
                <label for="min_message_threshold">Ігнорувати учасників з кількістю повідомлень менше ніж:</label>
                <input type="text" id="min_message_threshold" name="min_message_threshold" />
                <br/>
                <br/>
                <input type="file" id="file" name="file" />
                <input type="button" class="button" value="Upload" id="btn_upload">
            </div>
        </form>
        <div id="upload_result" style="display: none"></div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script src="/js/most-active-members-input.js"></script>
{% endblock %}
