{% extends "base-layout.html" %}
{% block title %}Most active members count{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" action="" enctype="multipart/form-data" id="upload_form">
            <div>
                <label for="result_file_name">Ім'я файлу з результатами (опціонально):</label>
                <input type="text" id="result_file_name" name="result-file-name" />
                <br/>
                <br/>
                <input type="file" id="file" name="file" />
                <input type="button" class="button" value="Upload" id="btn_upload">
            </div>
        </form>
        <div id="upload_result" style="display: none"></div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script src="/js/most-active-members-input.js"></script>
{% endblock %}
